RewriteEngine On

# Handle .html files
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)$ $1.html [L]

# Handle .php files
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)$ $1.php [L]

# Redirect requests with .html or .php in URL to clean URL
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.php\ HTTP/
RewriteRule ^(.*)\.php$ /$1 [R=301,L]

# Example: Block access to weather.php, allow only from your domain
#<Files "weather.php">
#    Order Deny,Allow
#    Deny from all
#    Allow from anthonyjsawyer.com
#</Files>

<Files ".htaccess">
    Require all denied
</Files>

#<FilesMatch "\.php$">
#    Require all denied
#</FilesMatch>

# no cache
<IfModule mod_headers.c>
  Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
  Header set Pragma "no-cache"
</IfModule>