body {
    display: block;
    margin: 0%;
}

section {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: linear-gradient(to right, #95979b, #cfd3db);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.games-container {
    text-align: center;
    max-width: 100%;
    width: 100%;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px #000;
}

.games-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.game-card {
    background: #fff;
    color: #000000;
    border-radius: 10px;
    text-decoration: none;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(100% - 40px);
    max-width: 300px;
    box-sizing: border-box;
}

.game-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.game-card-content {
    text-align: center;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #444345;
}

p {
    font-size: 1em;
}

@media (min-width: 600px) {
    .game-card {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (min-width: 900px) {
    .game-card {
        flex: 1 1 calc(33.333% - 40px);
    }

    h1 {
        font-size: 4em;
    }
}
