/* Notes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#omg {
    height: 100px;
}

.header-image {
    width: 100%;
    height: 100px; /* Adjust this height to your preference */
    overflow: hidden; /* Hide overflow */
    position: relative; /* Relative positioning for child elements */
}

.header-image img {
    width: 100%; /* Full width */
    height: 100%; /* Full height of the container */
    object-fit: cover; /* Cover the container, cropping as needed */
    object-position: 50% 85%; /* Center the image within the container */
    display: block; /* Remove extra space below the image */
    position: absolute; /* Absolute positioning */
    top: 0; /* Align top */
    left: 0; /* Align left */
}


.hero {
    background: #BBC4C6;

}


.hero-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.column-left, 
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;

}


.column-left h1 {
    margin-bottom: 1rem;
    font-size:3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 50px;
}

.column-left p {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 1.5;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    border-radius: 25px;
    margin: auto;

}

.image1 {
    width: 400px;
    height: 300px;

}

.imageant {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border-radius: 25px;
    margin: auto;
    padding-top: 1px
}

.imageant p {
    text-align: center;
}
