.carousel-container {
    position: relative;
    width: 300px; /* Adjust as needed */
    margin: auto;
}

.imageant {
    width: 400px;
    height: 300px;
    border-radius: 25px;
    margin: auto;
}

.imageant.active {
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 0;
}