/* Define the nav height variable */
:root {
  --nav-height: 28px; /* Set the height of your nav */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#venmo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: clac( var(--nav-height) / 1.2);
  padding: 10px;
  margin-left: 5px;
  background-color: #f5f5f5; 
  color: #3d95ce; 
  border: 1px solid white; 
  border-radius: 25px; 
  cursor: pointer;

}

#venmo-button:hover {
  color: white;
  background-color: #3d95ce;
}
/* Prevent horizontal scrolling */
html, body {
    overflow-x: hidden;
    margin: 0; /* Ensure no body margin is causing scrolling */
  }


nav {
  height: var(--nav-height);
  background: #BBC4C6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc(100vw - 1300px) / 2;
}

.logo {
    color: #000;
    font-size: 1.5rem ;
    font-style: italic;
    font-weight: bold;
    padding: 0rem;
    margin-left: 0.5rem;

}

nav a {
    text-decoration: none;
    color:#000;
    padding: 0 1.5rem;

}

nav a:hover {
    color: #fff;
}

/* Basic styles for the nav */
.nav-items {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative; /* Add relative positioning to allow absolute positioning for the dropdown */
  }
  
  /* Dropdown container */
  .dropdown {
    position: relative; /* Ensure the dropdown is positioned within the nav */
  }
  
  /* Hide the dropdown content initially */
  .dropdown-content {
    display: none;
    position: absolute; /* Position the dropdown absolutely */
    top: 100%; /* Position it below the "Games" link */
    right: 0;
    background-color: #a4adae;
    min-width: 100px;
    box-shadow: 0 8px 16px rgba(68, 91, 105, 0.2);
    z-index: 1;
    padding: 0;  /* Remove extra padding */
    margin: 0;   /* Remove margin */
    text-align: left;  /* Align text to the left */
  }
  
/* Show dropdown when 'show' class is added */
.dropdown-content.show,
.project-content.show,
.misc-content.show {
  display: block;
}
  
  /* Dropdown item styles */
  .dropdown-content li {
    list-style-type: none;
  }
  
  .dropdown-content li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
  }
  
  .dropdown-content li a:hover {
    background-color: #ddd;
  }
  