/* Notes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

nav {
    height: 80;
    background: #BBC4C6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc(100vw - 1300px) / 2;
}

.logo {
    color: #000;
    font-size: 1.5rem ;
    font-style: italic;
    font-weight: bold;
    padding: 0rem;
    margin-left: 0.5rem;

}

nav a {
    text-decoration: none;
    color:#000;
    padding: 0 1.5rem;

}

nav a:hover {
    color: #fff;
}

.hero {
    background: #BBC4C6;

}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 0rem calc(100vw - 1300px) / 2;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem;
    margin: auto;

}

.column-left h1 {
    margin-bottom: 1rem;
    font-size:3rem;
    margin-left: auto;
    margin-right: auto;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;

}

button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #BBC4C6;
    background: #000;
    cursor: pointer;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background: #45C8E5;
    color:#000;

}

.column-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem 2rem;
}

.column-right h2{
    margin: auto;
    font-size: 12;

}

.image1 {
    width: 400px;
    height: 300px;

}

.imageant {
    width: 400px;
    height: 300px;
    border-radius: 25px;
    margin: auto;

}