body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: #0f96df;
    color: #fff;
    position: relative;
}

.game-container {
    text-align: center;
    align-content: center;
    height: calc(100vh - var(--nav-height));
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px #000;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: background 0.3s;
}

.cell:hover {
    background: #e6e6e6;
}

#restart {
    padding: 10px 20px;
    font-size: 1em;
    background: #000000;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

#restart:hover {
    background: #8492c0;
}

#status {
    font-size: 1.5em;
    margin-top: 20px;
}
